In [4]:
#Libraries needed for project
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import gzip
from surprise import Reader, Dataset
from surprise.model_selection import train_test_split
from surprise import SVD, accuracy

In [5]:
# Get dataset and load data (using Amazon product data for Electronics from 2018)
# There are 1,689,188 reviews in this 5-core dataset

colnames=['ID', 'ASIN', 'SCORE', 'REVIEW TIME']
data = pd.read_csv('ratings_Electronics.csv', names=colnames, header=None)
data.head()

               ID        ASIN  SCORE  REVIEW TIME
0   AKM1MP6P0OYPR  0132793040    5.0   1365811200
1  A2CX7LUOHB2NDG  0321732944    5.0   1341100800
2  A2NWSAGRHCP8N5  0439886341    1.0   1367193600
3  A2WNBOD3WNDNKT  0439886341    3.0   1374451200
4  A1GI0U4ZRJA8WN  0439886341    1.0   1334707200